apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-deployment
  labels:
    app: myapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: kranthiazure27/sample-image:Latest
        ports:
        - containerPort: 8000
